body{
    font-family: Arial, Helvetica, sans-serif;
}

.color-picker {
  font-weight: bold;
  color: white;
  width: 50%;
  height: 400px;
  border: 1px solid hsla(0, 0%, 80%, 0.808);
  padding: 20px;
  display: flex;
  margin: auto;
  flex-direction: column;
}

.color-background {
  margin-bottom: 50px;
  height: 250px;
  text-align: center;
}

h1{
    text-align: center;
}
